{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>TGPSC Group 1</title>

    <link rel="stylesheet"
          href="{% static 'jobportal/css/style.css' %}">
</head>

<body>

    <header>
        <h1>Govt Jobs</h1>

        <nav>
            <a href="/">Home</a>
            <a href="/latest-jobs/">Latest Jobs</a>
            <a href="/results/">Results</a>
            <a href="/admit-cards/">Admit Cards</a>
        </nav>
    </header>


    <main class="job-details">

        <h1>TGPSC Group 1</h1>

        <h2>
            Telangana State Public Service Commission
        </h2>

        <hr>

        <h3>About the Examination</h3>

        <p>
            TGPSC Group 1 is a competitive examination conducted
            by the Telangana State Public Service Commission for
            recruitment to various senior government posts.
        </p>


        <h3>Job Details</h3>

        <ul>
            <li><strong>Organization:</strong>
                Telangana State Public Service Commission
            </li>

            <li><strong>Exam:</strong>
                Group 1 Services
            </li>

            <li><strong>State:</strong>
                Telangana
            </li>

            <li><strong>Qualification:</strong>
                Graduation
            </li>
        </ul>


        <h3>Important Links</h3>


        <a href="https://www.tspsc.gov.in/" target="_blank">
        Official Notification
        </a>


        <br><br>

        <a href="/latest-jobs/" class="details-button">
            ← Back to Latest Jobs
        </a>

    </main>

</body>
</html>