<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Railway Group D - Govt Jobs</title>

</head>

<body>

    <h1>Railway Group D</h1>

    <h2>Indian Railways</h2>

    <hr>

    <h3>Job Details</h3>

    <p>
        <strong>Organization:</strong>
        Indian Railways
    </p>

    <p>
        <strong>Job Type:</strong>
        Central Government Job
    </p>

    <p>
        <strong>Location:</strong>
        All India
    </p>

    <p>
        <strong>Qualification:</strong>
        10th Pass
    </p>

    <p>
        <strong>Official Website:</strong>


        
        <a href="https://www.rrbapply.gov.in/"
           target="_blank">

           RRB Official Website

        </a>

    </p>

    <hr>

    <h3>Important Links</h3>

    <p>

        <a href="#"
           target="_blank">

            Admit Card

        </a>

    </p>

    <p>

        <a href="#"
           target="_blank">

            Results

        </a>

    </p>

    <br>

    <a href="/">
        Back to Home
    </a>

</body>

</html>